extends layout

block content
  ul.nav.nav-tabs(role="tablist")
    li.nav-item.active
      a.nav-link.active(data-toggle="tab", href="#home", role="tab", aria-controls="home", aria-selected="true") Home
    li.nav-item.active
      a.nav-link(data-toggle="tab", href="#upload" role="tab", aria-controls="upload", aria-selected="false") Upload

  div.tab-content
    div.tab-pane.fade.show.active#home(role="tabpanel", aria-labelledby="home-tab")
      include home

    div.tab-pane.fade#upload(role="tabpanel", aria-labelledby="upload-tab")
      include upload
