doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src='/javascripts/index.js')
  body
    block content
