v-form(ref="form")
  v-text-field(v-model="uploadDest",label="Destination")
  v-file-input(chips, show-size, counter, multiple, v-model="uploadFiles", label="Files")
  v-btn(@click="upload") Upload

v-data-table(:headers="fileListHeaders", :items="fileList", :items-per-page="10", class="elevation-1")
  template(v-slot:item.path="{ item }")
    a(v-bind:href="item.url" ) {{ item.path }}
  template(v-slot:item.remove="{ item }")
    v-icon(small, @click="remove(item.path)") mdi-delete
