div#list
  table.table
    thead
      tr
        th(scope="col") #
        th(scope="col") Path
    tbody
      tr(v-for="(item, index in list")
        th(scope="col") {{ index }}
        td {{ item }}
