p.margin-top Upload files with curl
pre
  code curl --basic -u <i>username</i>:<i>password</i> -F "dest=Test" -F "file=@filename" #{url}upload

form(method="POST", action="/upload", enctype="multipart/form-data")
  .form-group
    label(for="InputDest") Destination
    input.form-control#InputDest(type="text", name="dest")
  .form-group
    label(for="InputFile") Files
    input.form-control-file#InputFile(type="file", name="file", multiple)
  button.btn.btn-primary(type="submit") Upload
