form(method="POST", action="/upload", enctype="multipart/form-data")
  .form-group
    label(for="SelectCategory") Category
    select.form-control#SelectCategory
      each item in category
        option= item
  .form-group
    label(for="InputTag") Tag
    input.form-control#InputTag(type="text", name="tag")
  .form-group
    label(for="InputFile") File
    input.form-control-file#InputFile(type="file", name="file", multiple)
  button.btn.btn-primary(type="submit") Upload
