form(method="POST", action="/upload", enctype="multipart/form-data")
  .form-group
    label(for="InputDir") Directory
    input.form-control#InputDir(type="text", name="dir", list="dirs")
    datalist#dirs
      each item in directory
        option= item
  .form-group
    label(for="InputFile") Files
    input.form-control-file#InputFile(type="file", name="file", multiple)
  button.btn.btn-primary(type="submit") Upload

p.margin-top Command Line
pre
  code curl --basic -u <i>username</i>:<i>password</i> -F "dir=Test" -F "file=@filename" #{url}upload
